*, *:before, *:after{
	box-sizing:border-box;
	position:relative;
}
html,body{
	display:flex;
	justify-content:center;
	align-items:center;
	flex-direction:column;
	width:100%;

}
#inicio{
	width:100%;
	height:100vh;
	display:flex;
	justify-content:center; 
}
#inicio nav {
	z-index:1;
	position:fixed;
	/*width:100%;*/ 
}
#inicio nav ul{
	list-style:none;
	display:flex;
}
#inicio nav ul li{
	font-family:;
	margin-left:3%;
	/*padding:5px 15px;*/
	border:solid 1px #000;
	border-radius:15px;
	width:150px;
	font-size:0.94em;
	text-align:center;
	line-height:1.7em;
	letter-spacing:0em;
	background: #fff;
	color:#00f; 
}
#inicio img{
	width:58.35%;
	margin-top:93px;
}
img{
	width:150px;
}
#sobre{ 
	height:100vh;
	background: url("Assets/sob.jpg") no-repeat right top; 
	background-size:100%;
	display:flex;
	justify-content:flex-end;
	align-items:center;
	margin-bottom:4%; 
}
#sobre div {
	width:30%;
	background-color:#fff;
	margin-right:3%;
	padding:40px;
	margin-top:30%;
	border-radius:25px;
}
#sobre div h2{
	color:#95989a;
}
#sobre  div p{
	
	text-align:left;
	font-style: normal;
	line-height:1.34em;
	font-size:0.88em;
	color:#95989a;
	letter-spacing:0;
}
#acoes{
	height:100vh;
	width:100%;
	padding:5%;
	display:flex;
	flex-flow:row wrap; 
	justify-content:center;
	align-items:center;
	align-content:flex-start;  
}
#acoes h2{
	font-size:1.88em;
	color:#95989a;
	padding-left:4%; 
	font-style:normal;
	text-align:left; 
	line-height:1.61em;
	letter-spacing:0;
	width:100%;
}
#acoes div {
	width: 30%;
	margin: 0 5px;
}
#acoes img{
	width:100%;
	/*margin-left:40%;*/
}
#acoes div p{
	font-size:0.88em;
	color:#95989a;
	font-style:normal;
	text-align:left; 
	line-height:1.61em;
	letter-spacing:0;
	padding-right:63%;  
	display:flex;
	justify-content:center;    
}
#contato{
	height:100vh; 
	background:url("Assets/contato.jpg") no-repeat right top; 
	background-size:100%;
	width:100%;
	display:flex;
	justify-content:flex-end;
	align-items:center;
}
#contato div{
	width:27%;
	background-color:#000;
	margin-right:5%;
	padding:20px;
	margin-top:50%;
	border-radius:25px;
	opacity:0.5;
}
#contato div h2{
	color:#fff;
	margin-bottom:10%; 
	display:flex;
	justify-content:center;      
}
#contato div p{
	color:#fff; 
	margin-left:13%;   
	
}
#contato div img{
	width:27%; 
	padding-left:3%; 
	margin-bottom:7%; 
	margin-left:5%;  
}
  

