@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400i,600,700');

*, *:before, *:after{
	box-sizing:border-box;
	position:relative;
}
html,body{
	display:flex;
	justify-content:center;
	align-items:center;
	flex-direction:column;
	width:100%;
	overflow:auto;
}
@media (max-width:640px){
	body{
		margin:0;
		overflow:hidden;
	}
}
#inicio{
	width:100%;
	height:100vh;
	display:flex;
	justify-content:center; 
	align-items: center;
}
@media (max-width: 640px){
	#inicio{
		align-items:center;
		height: 100vh;
	}
}
#inicio nav {
	z-index:1;
	position:fixed;
	top:0;
	width:100%; 
}
#inicio nav ul{
	list-style:none;
	display:flex;
	justify-content: center;
	padding:0;
}
@media (max-width: 640){
	#inicio nav ul{
		margin:0;
	}
}
#inicio nav ul a{
	font-family: 'Source Sans Pro', sans-serif;
	font-weight:400;
	color:#00f;
	width:10%;
	text-decoration:none;
	margin:1%;
}
@media (max-width: 640px){
	#inicio nav ul a{
		width:20%;
	}
}
#inicio nav ul a li{
	border: solid 1px #888;
	border-radius:15px;
	background: #fff;
	font-style: normal;
	text-align:center;
	font-size:0.94em;
	line-height:1.7em;
	letter-spacing:0em;
}
@media (max-width: 640px){
	#inicio nav ul a li{
		line-height:2em;
	}
}
#inicio img{
	width:58.35%;
}
@media (max-width: 640px){
	#inicio img{
		width:70%;
	}
}
#sobre{ 
	height:100vh;
	background: url("Assets/sob.jpg") no-repeat; 
	background-size:100%;
	display:flex;
	justify-content:flex-end;
	align-items:center;
	margin-bottom:4%; 
}
@media (max-width: 640px){
	#sobre{ 
		background-position: center top;
		margin-bottom:1%;
		background-size:300%;
		padding-top:70px;
	} 
}

#sobre div {
	width:30%;
	background-color:#fff;
	margin-right:3%;
	padding:40px;
	margin-top:12%;
	border-radius:25px;
}
@media (max-width: 640px){
	#sobre div{
		width:85%;
		margin:0 auto;
		padding:5%;
		/*margin-right:15%;*/
		/*margin-top:0%;*/
	}
}
#sobre div h2{
	color:#95989a;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight:600; 
	margin-top:0;
}
@media (max-width: 640px){
	#sobre div h2{
		margin-top:0;
		line-height:2em; 
	}
}
#sobre  div p{
	font-family: 'Source Sans Pro', sans-serif;
	font-weight:400;
	text-align:left;
	font-style: normal;
	line-height:1.34em;
	font-size:0.88em;
	color:#95989a;
	letter-spacing:0;
}
@media (max-width: 640px){
	#sobre  div p{
		line-height:1em;
		font-size:1em;
		margin-top:0;
	}
}
#acoes{
	height:100vh;
	width:100%;
	padding:5%;
	display:flex;
	flex-flow:row wrap; 
	justify-content:center;
	align-items:center;
	align-content:flex-start;  
}
@media (max-width: 640px){
#acoes{
		height:auto;
		padding:0;
		padding-top:60px;
		justify-content:flex-start;
		flex-direction:column;     
	}
}
#acoes h2{
	font-family: 'Source Sans Pro', sans-serif;
	font-weight:600;
	font-size:1.88em;
	color:#95989a;
	padding-left:4%; 
	font-style:normal;
	text-align:left; 
	line-height:1.61em;
	letter-spacing:0;
	width:100%;
}
@media (max-width: 640px){
	#acoes h2{
		font-weight:700;
		margin:0;
		font-size:2em;
		padding-left:10%;  
	}
}
#acoes div {
	width: 30%;
	margin: 0 5px;
}
@media (max-width: 640px){
	#acoes div {
		width: 100%;
		margin: 0 5px;
	}	
}
#acoes img{
	width:100%;
	/*margin-left:40%;*/
}
@media (max-width: 640px){
	/*#acoes img{
		width:100%;
	}*/
}

/*Os paragrafos .p1 e .p3 são as mesma coisa que o div p?*/
#acoes div p{
	font-family: 'Source Sans Pro', sans-serif;
	font-weight:400;
	font-size:0.80em;
	color:#95989a;
	font-style:normal;
	text-align:left; 
	line-height:1.61em;
	letter-spacing:0;
	padding-right:63%;  
	display:flex;
	justify-content:center;    
}
@media (max-width: 640px){
	#acoes .p1{
 		display:none; 
	}	
}
#acoes .p3{
	display:none;
}
@media (max-width: 640px){
	#acoes .p3{
		font-weight:700; 
		display:block; 
		padding: 0;
		padding-left:12%; 
	}
}

#contato{
	width:100%;
	height:100vh; 
	background:url("Assets/contato.jpg") no-repeat; 
	background-size:100%;
	display:flex;
	justify-content:flex-end;
	align-items:center;
}
@media (max-width: 640px){
	#contato {
		background-position: center top;
		margin-bottom:1%;
		background-size:300%;
		margin-top:10px;	

	}	
}
#contato div{
	width:27%;
	background: rgba(0,0,0,0.7);
	margin-right:5%;
	margin-top:200px;
	padding:20px;
	border-radius:20px;
	/*background-color:#000;*/
	/*opacity:0.5;*/
}
@media (max-width: 640px){
	#contato div {
		margin-right:10%; 
		width:85%;
		padding:0;
		margin-top:10%;
	}
}
#contato div h2{
	font-family: 'Source Sans Pro', sans-serif;
	font-weight:700;
	color:#fff;
	margin-bottom:10%; 
	display:flex;
	justify-content:center;      
}
@media (max-width: 640px){
	
}
#contato div p{
	font-family: 'Source Sans Pro', sans-serif;
	font-weight:400;
	color:#fff; 
	margin-left:13%;   
	
}
@media (max-width: 640px){
	
}
#contato div img{
	top:19%;
	width:20%; 
	padding-left:3%; 
	margin-bottom:7%; 
	margin-left:5%;  
}
@media (max-width: 640px){
	
}
/*@media (max-width:640px){
	body{
		margin:0;
		overflow:hidden;
	}*/
	/*#inicio{
		align-items: flex-start;
		height: 70vh;
	}*/
	/*#inicio nav ul{
		margin:0;
	}*/
	/*#inicio nav ul a{
		width:20%;
	}*/
/*	#inicio nav ul a li{
		line-height:2em;
	}*/
	/*#inicio img{
		width:70%;
		margin-top:150px;
	}*/
	/*#sobre{ 
		height:100vh;
		background: url("Assets/sob.jpg") no-repeat center top; 
		background-size:auto 100%;
		display:flex;
		justify-content:flex-end;
		align-items:center;
		margin-bottom:1%;

	} */
	/*#sobre div{
		width:70%;
		margin:0;
		padding:5%;
		margin-right:15%;
		margin-top:0%;
		border-radius:25px;
	}*/
	/*#sobre div h2{
		margin-top:0;
		line-height:2em; 
	}*/
	/*#sobre  div p{
		line-height:1em;
		font-size:1em;
	}*/
	/*#acoes{
		height:150vh;
		width:100%;
		padding:0;
		flex-direction:column;     
	}*/
/*	#acoes h2{
		font-family: 'Source Sans Pro', sans-serif;
		font-weight:700;
		margin:0;
		font-size:2em;
		padding-left:10%;  
	}*/
	/*#acoes div {
		width: 100%;
		margin: 0 5px;
	}*/
/*	#acoes img{
		width:100%;
	}*/
	/*#acoes .p1{
 		display:none; 
	}*/
	/*#acoes .p3{
		font-weight:700; 
		display:block; 
		padding: 0;
		padding-left:12%; 
	}*/

/*}*/
  
